@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-terciario: #34D7E3;
    --color-secundario: #3469E3;
    --color-primario: #70B9E5;

    --fuente-noto: "Noto Sans", sans serif;
    --fuente-rale: "Raleway", sans serif;
}

* {
    padding: 0;
    margin:0;
}

header {
    padding: 1% 0% 0%;
}

body {
    background-color: var(--color-primario);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
}

.ima1 {
    width: 8%;
}

a {
    display: flex;
    align-items: center;
    font-family: var(--fuente-noto);
    font-size: 1.5rem;
    font-weight: 500;
}

.autor {
    padding-left: 70rem;
}

main{
    padding: 0% 8% 0% 5%;
}

.Cuadros {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
    padding: 0% 0% 0% 0%;
}

.tx {
    border-radius: 5px;
    width: 500px;
    height: 500px;
    font-family: v
    
    ar(--fuente-noto);
    font-weight: 350;
    font-size: 1rem;
    text-align: center;
    background-color: var(--color-secundario);
    color: #000;
    border: 2px solid;
}

input::placeholder {
    color:#000;
}

p {
    font-family: var(--fuente-noto);
    font-weight: 350;
    display: flex;
    justify-content: center;
}

.Bt-C {
    font-family: var(--fuente-rale);
    font-size: large;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 1% 1% 1% 1%;
    background-color: var(--color-terciario);
    margin: auto;
    border-radius: 5px;
}

.Bt-C:hover {
    background-color:var(--color-primario);
}

.Adver {
    display: flex;
    align-items: flex-start;
    font-size: small;
    padding: 0% 0% 0%;
}

.Boton {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 3% 0% 0% 1%;   
}

.Bt {
    font-family: var(--fuente-rale);
    font-size: large;
    font-weight: 400;
    display: flex;
    padding: 1% 1% 1% 1%;
    background-color: var(--color-terciario);
    margin: auto;
    border-radius: 5px;
}

.Bt:hover {
    background-color:var(--color-primario);
}

@media(max-width: 430px){
    a {
        font-size: 10px;
    }

    .ima1 {
        width: 5%;
    }
    
    .autor {
        padding-left: 250px;
    }

    .Cuadros {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
    }

    .tx {
        border-radius: 5px;
        width: 250px;
        height: 100px;
        font-family: var(--fuente-noto);
        font-weight: 350;
        font-size: 10px;
    }

    .Adver {
        font-size: 8px;
    }

    p {
        font-weight: 350;
        font-size: 10px;
        padding-top: 10%;
    }
    
    .Boton {
        padding-top: 10%;
    }

    .Bt {
        font-size: 10px;
    }

    .Bt-C{
        font-size: 10px;
    }
}